.container
{
    display:inline-block;
    vertical-align:middle;
}

.section-wrapper{
    text-align:center;
}

.section-wrapper:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
}

body{
    position:relative;
    color:#111;
}

.logo{
    position:fixed;
    top:10px;
    left:10px;
    z-index:10000;
    /*background-color:rgba(255,255,255, 0.6);*/
    width:275px;
}

.logo img{
    height:60%;
    width:100%;
    padding:0 10px;

    
}


#home
{
    /*background:-webkit-radial-gradient(circle, rgba(0,0,0,.2), rgba(0,0,0,.8)), url("../images/quorra.png");*/
    /*background:linear-gradient(rgba(125,125,125,.4), rgba(125,125,125,.4)), url("../images/quorra.png");*/
    background:url("../images/wallpaper4.jpg");
    color:#fff;
    
}

#whatwedo{
    background:-webkit-radial-gradient(circle, rgba(19, 45, 56, .6), rgba(0,0,0,.8)), url("../images/quorra.png");
    /*background-color:#3f8aac;*/
    color:#8ED62B;
}

#whatweregoodat{
    background-color:#ffffff;

}

#whatwebelievein{
    /*background-color:#eb7400;*/
    /*background:url("../images/orange.jpg");*/
    background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../images/orange.jpg");
    color:#D6FFFF;
}

#contactus{
    background-color:#2f2f2f;
    color:white;
    /*background:url("../images/wallpaper4.jpg");*/

}

.wwd-module{
    margin:0 0 40px 0;
}


 .icon
{
    height:2em;
    line-height:2em;
    font-size:6em;
}

.icon img
{
    height:90px;
}

.container h1
{
    display:inline-block;
    padding:0.4em 1.5em;
    margin-bottom:1em;
    border-bottom:2px solid;
}

.title
{
    font-size:4em;
}

.footer
{
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
    color:white;
    height:30px;
    line-height:30px;
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9),rgba(0,0,0,1));
    font-size:9pt;
}

/* Animations */
section.active .container h1,
section.active .container .animate-1,
section.active .container .animate-2,
section.active .container .animate-4,
section.active .container .animate-6
{
    opacity:1;
    transform:translateY(0);
}

section .container h1,
section .container .animate-1,
section .container .animate-2,
section .container .animate-4,
section .container .animate-6
{
    opacity:0;
    transform:translateY(10%);
    transition:all .3s ease-out;
}

section .container h1
{
    transition-delay:0.6s;
}

section .container .animate-1
{    
    transition-delay:.7s;
}

section .container .animate-2
{
    transition-delay:.8s;
}

section .container .animate-4
{
    transition-delay:1.4s;
}

section .container .animate-6
{
    transition-delay:2s;
}

.clickable
{
    cursor:pointer;
    transition:all .3s ease-out;
}

.clickable:hover
{
    /*background: radial-gradient(orange, #2f2f2f, #2f2f2f);*/
    color:orange;
}