.container
{
    display:inline-block;
    vertical-align:middle;
}

.section-wrapper{
    text-align:center;
}

.section-wrapper:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
}

body{
    position:relative;
    color:#111;
    font-size:16px;    
    background-color:black;
}

#background
{
     background:url("../images/wallpaper4.jpg") center 25%;
     background-repeat:no-repeat;
     background-size:cover;
     position:fixed;
     height:120%;
     width:120%;
     top:00px;
     left:0;
    transition:all .8s ease-out;
}

.leftright
{
    -webkit-animation: leftright 30s ease-in-out infinite alternate;
    position:fixed;
     height:120%;
     width:100%;
     top:00px;
     left:0;
}

@-webkit-keyframes leftright
{
    0% { transform: translateX(-20%);}
    100% { transform: translateX(0%);}
}

.logo{
    position:fixed;
    top:0px;
    left:40%;
    padding:10px;
    z-index:10000;
    /*background-color:rgba(255,255,255, 0.6);*/
    width:20%;
    background-color:rgba(255,255,255, 0.9);
}

.logo img{
    height:60%;
    width:100%;
    padding:0 10px;

    
}

.background-wrapper
{
    padding:20px;
    display:inline-block;
    vertical-align:middle;
    
    border:dashed 2px;
}

#home
{
    /*background:-webkit-radial-gradient(circle, rgba(0,0,0,.2), rgba(0,0,0,.8)), url("../images/quorra.png");*/
    /*background:linear-gradient(rgba(125,125,125,.4), rgba(125,125,125,.4)), url("../images/quorra.png");*/
    color:#fff;
    
}

#whatwedo .background-wrapper{
    background:linear-gradient(rgba(19, 45, 56, 0.9), rgba(19, 45, 56, 0.9)), url("../images/quorra.png");    
    /*background-color:rgba(19, 45, 56, 1);*/
    /*background-color:#3f8aac;*/
    color:#8ED62B;
}

#wheelhouse .background-wrapper{
    background-color:#ffffff;
    /*background:linear-gradient(rgba(255,255,255, 0.85), rgba(255,255,255, 0.85)), url("../images/presence-ii.png");*/    

}

#whatwebelievein .background-wrapper{
    /*background-color:#eb7400;*/
    /*background:url("../images/orange.jpg");*/
    background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../images/orange.jpg");
    color:#D6FFFF;
}

#contactus .background-wrapper{
    background-color:#2f2f2f;
    color:white;
    /*background:url("../images/wallpaper4.jpg");*/

}

.wwd-module{
    margin:0 0 40px 0;
}

#whatwedo .tooltip-hover
{
    text-decoration:underline;
    cursor:default;
}


#whatwedo .tooltip-inner
{
    background-color:white !important;
    color: black !important;
}

#whatwedo .tooltip-arrow
{
    color:white !important;
    border-bottom-color:white !important;
}

 .icon
{
    height:1.6em;
    line-height:1.6em;
    font-size:6em;
}

.icon img
{
    height:90px;
}

.container h1
{
    display:inline-block;
    padding:0.4em 1.5em;
    margin-bottom:1em;
    border-bottom:2px solid;
}

.title
{
    font-size:4em;
}

.footer
{
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
    color:white;
    height:30px;
    line-height:30px;
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9),rgba(0,0,0,1));
    font-size:9pt;
}

.shadow
{
    -webkit-box-shadow:4px 4px 4px #000;
}

/* Animations */
section.active .container h1,
section.active .container .animate-1,
section.active .container .animate-2,
section.active .container .animate-4,
section.active .container .animate-6
{
    opacity:1;
    transform:translateY(0);
}

section .container h1,
section .container .animate-1,
section .container .animate-2,
section .container .animate-4,
section .container .animate-6
{
    opacity:0;
    transform:translateY(10%);
    transition:all .3s ease-out;
}

section .container h1
{
    transition-delay:0.6s;
}

section .container .animate-1
{    
    transition-delay:.7s;
}

section .container .animate-2
{
    transition-delay:.8s;
}

section .container .animate-4
{
    transition-delay:1.4s;
}

section .container .animate-6
{
    transition-delay:2s;
}

.clickable
{
    cursor:pointer;
    transition:all .3s ease-out;
}

.clickable:hover
{
    /*background: radial-gradient(orange, #2f2f2f, #2f2f2f);*/
    color:orange;
}

.grayscale-animate img
{
    -webkit-filter:grayscale(1) blur(1px) brightness(0.8);
    filter:grayscale(1);    
    transition:all .3s linear;
}

.grayscale-animate:hover img
{
    -webkit-filter:grayscale(0) blur(0px) brightness(1);
    filter:grayscale(0);
}

.grayscale-animate .desc
{
    opacity:0.2;
}

.grayscale-animate:hover .desc
{
    opacity:1;
    transition:all .3s linear;
}

.animate-background-1
{
    transform:translateY(0);
}

.animate-background-2
{
    transform:translateY(-5%);
}
.animate-background-3
{
    transform:translateY(-10%);
}
.animate-background-4
{
    transform:translateY(-15%);
}
.animate-background-5
{
    transform:translateY(-20%);
}